footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos i {
    font-size: 100px;
    width: 100px;
    padding: 0 8px;
    margin-bottom: 10px;
    color:#000000;
}

.foot {
    background-color: #0099ff;
}